@font-face {
	font-family: "inconsolata";
	src: url("inconsolata.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
body {
	max-width: 960px;
	margin: 30px auto;
	padding: 10px;
	
	color: #555;
	font-family: "inconsolata";
	font-size: 15px;
	line-height: 18px;
	
	background-color: #f9f6f3;
}
a {
	color: #1184ce;
}
div {
	margin-bottom: 20px;
}
h1 {
	color: #333;
	font-size: 25px;
	margin-top: 10px;
}
h2 {
	color: #480;
	font-size: 18px;
	margin-top: 40px;
}
h3 {
	color: #000;
	font-size: 16px;
	margin-top: 30px;
}
img {
	border: 1px solid #ffffff;
	max-width: 100%;
}
pre {
	display: block;
	width: -webkit-calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: calc(100% -40 px);
	padding: 20px;
	white-space: pre-wrap;
	background-color: #555;
	color: #f9f9f9;
	overflow: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: "inconsolata";
}