#endPane {
    -fx-background-image: url("bg.png");
}

#restartBtn {
    -fx-background-image: url("restartBtn.png");
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
}

#quitBtn {
    -fx-background-image: url("quitBtn.png");
    -fx-background-insets: 0;
    -fx-background-radius: 10px;
}

#score {
    -fx-font: 128px "Arial Bold";
    -fx-fill: #ffffff;
}

#highScore1, #highScore2, #highScore3 {
    -fx-font: 68px "Arial Bold";
    -fx-fill: #ffffff;
}